@model MvcCv.Models.Sinif.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>

        <tr>
            <th>ID</th>
            <th>ADI</th>
            <th>SOYADI</th>
            <th>ADRES</th>
            <th>TELEFON</th>
            <th>MAİL</th>
            <th>HAKKIMDA</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Deger1)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.NAME</td>
                <td>@x.SURNAME</td>
                <td>@x.ADDRESS</td>
                <td>@x.PHONE</td>
                <td>@x.MAIL</td>
                <td>@x.ABOUT</td>
                <td><a href="~/Hakkında/VeriGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>

