@model MvcCv.Models.Entity.TBLABOUT
@{
    ViewBag.Title = "VeriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>VeriGetir</h2>

@using (Html.BeginForm("Guncelle", "Hakkında", FormMethod.Post))
{
<div class="form-group">

    @Html.LabelFor(m => m.ID)
    @Html.TextBoxFor(m => m.ID)
    <br />
    @Html.Label("Ad")
    @Html.TextBoxFor(m => m.NAME, new { @class = "form-control" })
    <br />
    @Html.Label("Soyad")
    @Html.TextBoxFor(m => m.SURNAME, new { @class = "form-control" })
    <br />
    @Html.Label("Adres")
    @Html.TextBoxFor(m => m.ADDRESS, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(m => m.PHONE, new { @class = "form-control" })
    <br />
    @Html.Label("Mail")
    @Html.TextBoxFor(m => m.MAIL, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkımda")
    @Html.TextAreaFor(m => m.ABOUT, new { @class = "form-control" })
    <br />
    <button class="btn btn-default">Güncelle</button>
</div>
}