@model MvcCv.Models.Entity.TBLEXPERIENCE

@{
    ViewBag.Title = "VeriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>VeriGetir</h2>


@using (Html.BeginForm("Guncelle", "Deneyimler", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID)
        <br />
        @Html.Label("Başlık")
        @Html.TextBoxFor(m => m.TITLE, new { @class = "form-control" })
        <br />
        @Html.Label("Alt Başlık")
        @Html.TextBoxFor(m => m.SUBTITLE, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(m => m.DATE, new { @class = "form-control" })
        <br />
        @Html.Label("Detaylar")
        @Html.TextBoxFor(m => m.DETAILS, new { @class = "form-control" })

        <br />
        <button class="btn btn-default">Güncelle</button>
    </div>
}